<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <style>
      .flex {
        display: flex;
        justify-content: center;
      }

      .error-img {
        width: 100%;
        max-width: 620px;
        height: auto;
      }

      .title {
        font-size: 36px;
        line-height: 44px;
        font-weight: 700;
        margin-top: 36px;
        text-align: center;
      }

      .description {
        margin: 0;
        font-size: 20px;
        line-height: 30px;
        color: #475467;
        margin-top: 24px;
        max-width: 600;
        text-align: center;
      }

      body {
        font-family: "Inter", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="flex">
      <div style="text-align: center">
        <img
          src="/assets/images/error.png"
          alt="error"
          class="error-img"
        />
        <div class="title">Something went wrong!</div>
        <p class="description">
          Sorry about that! Please try reloading the page<br />
          If the issue persists please reach out for support.
        </p>
      </div>
    </div>
  </body>
</html>
