.ribbon {
  position: absolute;
  padding: 7px;
  inset: 10px 0 auto auto;
  background: #38b601;
  transform-origin: 0 0;
  transform: translate(15%) rotate(45deg);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.ribbon:before {
  content: " ";
  height: 100%;
  left: -99px;
  position: absolute;
  top: 0;
  width: 100px;
  background: #38b601;
}

.ribbon:after {
  content: " ";
  height: 100%;
  position: absolute;
  top: 0;
  right: -99px;
  width: 100px;
  background: #38b601;
}
